@model Calculator.Models.Calculator

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<h2>Calculator</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="op1">
            @Html.TextBoxFor(model => model.operand1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.operand1, "", new { @class = "text-danger" })
        </div>
    </div>
    <table>
        <tr>
            <td><input type="button" id="btn7" value="7" /></td>
            <td><input type="button" id="btn8" value="8" /></td>
            <td><input type="button" id="btn9" value="9" /></td>
            <td><input type="button" id="btnDel" value="DEL" /></td>
            <td><input type="button" id="btnClear" value="CLR" /></td>
        </tr>
        <tr>
            <td><input type="button" id="btn4" value="4" /></td>
            <td><input type="button" id="btn5" value="5" /></td>
            <td><input type="button" id="btn6" value="6" /></td>
            <td><input type="button" id="btnMult" value="*" /></td>
            <td><input type="button" id="btnDiv" value="/" /></td>
        </tr>
        <tr>
            <td><input type="button" id="btn1" value="1" /></td>
            <td><input type="button" id="btn2" value="2" /></td>
            <td><input type="button" id="btn3" value="3" /></td>
            <td><input type="button" id="btnAdd" value="+" /></td>
            <td><input type="button" id="btnSub" value="-" /></td>
        </tr>
        <tr>
            <td><input type="button" id="btn0" value="0" /></td>
            <td><input type="button" id="btnDecimal" value="." /></td>
            <td><input type="button" id="btnEqual" value="=" /></td>
        </tr>
    </table>

}
<script>
    $(function () {
        $("#operand1").keypress(function (exp) {
            if (String.fromCharCode(exp.keyCode).match(/[^0-9+-/*]/g)) {
                return false;
            }
        });
        $("#btn1").click(function () {
            let input = document.getElementById("operand1").value;
            if (input == "0") {
                $("#operand1").val("1");
            }
            else {
                $("#operand1").val(input + "1");
            }
        });
        $("#btn2").click(function () {
            let input = document.getElementById("operand1").value;
            if (input == "0") {
                $("#operand1").val("2");
            }
            else {
                $("#operand1").val(input + "2");
            }
        });
        $("#btn3").click(function () {
            let input = document.getElementById("operand1").value;
            if (input == "0") {
                $("#operand1").val("3");
            }
            else {
                $("#operand1").val(input + "3");
            }
        });
        $("#btn4").click(function () {
            let input = document.getElementById("operand1").value;
            if (input == "0") {
                $("#operand1").val("4");
            }
            else {
                $("#operand1").val(input + "4");
            }
        });
        $("#btn5").click(function () {
            let input = document.getElementById("operand1").value;
            if (input == "0") {
                $("#operand1").val("5");
            }
            else {
                $("#operand1").val(input + "5");
            }
        });
        $("#btn6").click(function () {
            let input = document.getElementById("operand1").value;
            if (input == "0") {
                $("#operand1").val("6");
            }
            else {
                $("#operand1").val(input + "6");
            }
        });
        $("#btn7").click(function () {
            let input = document.getElementById("operand1").value;
            if (input == "0") {
                $("#operand1").val("7");
            }
            else {
                $("#operand1").val(input + "7");
            }
        });
        $("#btn8").click(function () {
            let input = document.getElementById("operand1").value;
            if (input == "0") {
                $("#operand1").val("8");
            }
            else {
                $("#operand1").val(input + "8");
            }
        });
        $("#btn9").click(function () {
            let input = document.getElementById("operand1").value;
            if (input == "0") {
                $("#operand1").val("9");
            }
            else {
                $("#operand1").val(input + "9");
            }
        });
        $("#btn0").click(function () {
            let input = document.getElementById("operand1").value;
            if (input == "0") {
                $("#operand1").val("0");
            }
            else {
                $("#operand1").val(input + "0");
            }
        });
        $("#btnClear").click(function () {
            let input = document.getElementById("operand1").value;
            $("#operand1").val("");
        });
        $("#btnAdd").click(function () {
            let input = document.getElementById("operand1").value;
            let prev = input.slice(-1)
            if (prev == "+" || prev == "-" || prev == "*" || prev == "/") {
                return false;
            }
            else {
                $("#operand1").val(input + "+")
            }
        });
        $("#btnSub").click(function () {
            let input = document.getElementById("operand1").value;
            let prev = input.slice(-1)
            if (prev == "+" || prev == "-" || prev == "*" || prev == "/") {
                return false;
            }
            else {
                $("#operand1").val(input + "-")
            }
        });
        $("#btnMult").click(function () {
            let input = document.getElementById("operand1").value;
            let prev = input.slice(-1)
            if (prev == "+" || prev == "-" || prev == "*" || prev == "/") {
                return false;
            }
            else {
                $("#operand1").val(input + "*")
            }
        });
        $("#btnDiv").click(function () {
            let input = document.getElementById("operand1").value;
            let prev = input.slice(-1)
            if (prev == "+" || prev == "-" || prev == "*" || prev == "/") {
                return false;
            }
            else {
                $("#operand1").val(input + "/")
            }
        });
        $("#btnDecimal").click(function () {
            let input = document.getElementById("operand1").value;
            if (input.indexOf('.') != -1) {
                if (input.indexOf('+') != -1 || input.indexOf('-') != -1 || input.indexOf('*') != -1 || input.indexOf('/') != -1) {
                    $("#operand1").val(input + ".");
                }
                else {
                    return false;
                }
            }
            else {
                $("#operand1").val(input + ".");
            }
        });
        $("#btnDel").click(function () {
            let input = document.getElementById("operand1").value;
            $("#operand1").val(input.substring(0, input.length-1))
        });
        $("#btnEqual").click(function () {
            $.getJSON('/Calculator/Calculate', { input: $('#operand1').val() }, function (response) {
                $("#operand1").val(response)
            })
        });
    });
</script>
